<template>
  <div>CONTENT</div>
</template>

<script>
export default {
  created () {
    if (this.$store.state.user == null) {
      this.$router.push({
        name: 'login'
      })
    }
  }
}
</script>

<style>

</style>
