<template>
  <v-card>
    <v-form v-model="valid">
      <v-card-title>
        <span class='headline'>New reservation</span>
      </v-card-title>
      <v-card-text>

        <v-flex xs12>
          <v-text-field
            v-model='mail'
            label='User email *'
            :rules='mailRules'
          />

          <v-text-field
            v-model='phone'
            label='User phone'
          />
        </v-flex>

        <v-layout row>
          <v-flex xs12 sm6>
            <v-dialog
              ref='dateDialog'
              v-model='dateDialog'
              :return-value.sync='currentDate'
              persistent
              lazy
              full-width
              width='290px'
            >
              <v-text-field
                slot='activator'
                v-model='currentDate'
                label='Reservation date *'
                required
                prepend-icon='access_time'
                readonly
                :rules='currentDateRules'
              ></v-text-field>
              <v-date-picker
                v-if='dateDialog'
                v-model='currentDate'
                required
                :allowed-minutes='allowedStep'
                format='24hr'
              >
                <v-spacer></v-spacer>
                <v-btn flat color='primary' @click='dateDialog = false'>Cancel</v-btn>
                <v-btn flat color='primary' @click='$refs.dateDialog.save(currentDate)'>OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </v-flex>
          <v-flex xs12 sm6>
            <v-dialog
              ref='timeDialog'
              v-model='timeDialog'
              :return-value.sync='currentTime'
              persistent
              lazy
              full-width
              width='290px'
            >
              <v-text-field
                slot='activator'
                v-model='currentTime'
                label='Reservation time *'
                required
                prepend-icon='access_time'
                readonly
                :rules='currentTimeRules'
              ></v-text-field>
              <v-time-picker
                v-if='timeDialog'
                v-model='currentTime'
                required
                :allowed-minutes='allowedStep'
                format='24hr'
              >
                <v-spacer></v-spacer>
                <v-btn flat color='primary' @click='timeDialog = false'>Cancel</v-btn>
                <v-btn flat color='primary' @click='$refs.timeDialog.save(currentTime)'>OK</v-btn>
              </v-time-picker>
            </v-dialog>
          </v-flex>
        </v-layout>

        <v-textarea
          v-model='description'
          label='Description *'
          required
          :rules='descriptionRules'
        />

      </v-card-text>
      <v-card-text>
        <small>* indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color='blue darken-1'
          @click='saveReservation()'
          :disabled="!valid"
        >
          Save
        </v-btn>
        <v-btn
          color='blue darken-1'
          flat @click='closeDialog()'
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import moment from 'moment'
import ReservationsService from '@/services/ReservationsService'

export default {
  props: [
    'currentDate'
  ],
  data () {
    return {
      valid: false,
      mail: '',
      mailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      phone: '',
      description: '',
      descriptionRules: [
        v => !!v || 'Descriptin is required'
      ],
      currentTime: null,
      currentTimeRules: [
        v => !!v || 'Reservation time is required'
      ],
      // currentDate: null,
      currentDateRules: [
        v => !!v || 'Reservation date is required'
      ],
      dateDialog: false,
      timeDialog: false
    }
  },
  methods: {
    async saveReservation () {
      await ReservationsService.createReservation({
        '_links': {
          'type': {
            'href': 'http://narucise.apagacdev.tk/rest/type/narucise_entity/reservation'
          }
        },
        'type': [
          {
            'value': 'reservation'
          }
        ],
        'name': [
          {
            'value': this.description
          }
        ],
        'field_contact_email': [
          {
            'value': this.mail
          }
        ],
        'field_contact_phone': [
          {
            'value': this.phone
          }
        ],
        'field_reservation_date': [
          {
            'value': moment(this.currentDate).format('YYYY-MM-DD')
          }
        ],
        'field_reservation_time': [
          {
            'value': moment(this.currentTime, 'HH:mm').diff(moment().startOf('day'), 'seconds')
          }
        ],
        'field_reservation_status': [
          {
            'target_id': 1
          }
        ],
        'field_business': [
          {
            'target_id': this.$store.state.user.id[0].value
          }
        ]
      })
      this.closeDialog()
    },
    closeDialog () {
      this.$emit('dialog')
    },
    allowedStep: (m) => m % 10 === 0
  }
}
</script>

<style>

</style>
