<template>
  <v-layout fill-height row>
    <v-flex xs12>
      <v-layout row align-center>
        <v-flex xs8 sm6 md4 lg2>
          <div>
          <v-dialog
            ref='currentDateDialog'
            v-model='currentDateDialog'
            :return-value.sync='currentDate'
            persistent
            lazy
            full-width
            width='290px'
          >
            <v-text-field
              slot='activator'
              v-model='currentDate'
              label='Date'
              prepend-icon='event'
              readonly
            ></v-text-field>
            <v-date-picker
              v-model='currentDate'
              scrollable
              reactive
              @input='$refs.currentDateDialog.save(currentDate)'
            >
            </v-date-picker>
          </v-dialog>
          </div>
        </v-flex>
        <v-btn
          v-on:click="decreaseDate"
        >
          -1 day
        </v-btn>
        <v-btn
          v-on:click="increaseDate"
        >
          +1 day
        </v-btn>
        <v-spacer></v-spacer>
        <v-flex xs2
          class='text-xs-right'
        >
          <v-dialog
            v-model='dialog'
            persistent
            max-width='500px'
          >
            <v-btn
              slot='activator'
              fab
              color='blue'
              small
              middle
            >
              <v-icon>add</v-icon>
            </v-btn>
            <reservation-form
              @dialog='closeDialog'
              :currentDate='currentDate'
            />
          </v-dialog>
        </v-flex>
      </v-layout>
      <v-layout row>
        <v-flex xs12>
          <div id='schedule'>
            <div
              class='schedule-row'
              v-for='(hour, index) in schedule'
              :key='index'
            >
              <span class='row-label'>{{hour}}</span>
              <span class='row-half-hour'>-</span>

              <div class='row-items'>
                <div
                  v-for='reservation in reservations'
                  :key='reservation.id'
                  v-if='reservations && index == timeExtractHour(reservation.field_reservation_time)'
                  :class="['item', 'position-' + getMinutesPositionClass(reservation.field_reservation_time)]"
                >
                  {{reservation.name}}
                  {{reservation.field_contact_email}}
                </div>
              </div>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import moment from 'moment'
import ReservationForm from '@/components/Reservations/Form'
import ReservationsService from '@/services/ReservationsService'

export default {
  name: 'App',
  components: {
    ReservationForm
  },
  data () {
    return {
      dialog: false,
      currentDateDialog: false,
      currentDate: null,
      workingHoursStart: null,
      workingHoursEnd: null,
      schedule: {},
      reservations: null
    }
  },
  mounted () {
    this.currentDate = moment().format('YYYY-MM-DD')
    this.buildSchedule()
    this.fetchData()
  },
  beforeCreate () {
    if (this.$store.state.user == null) {
      this.$router.push({
        name: 'login'
      })
    }
  },
  watch: {
    currentDate: function (newValue) {
      // @TODO regenerate working hours
      this.fetchData()
      this.buildSchedule()
    }
  },
  methods: {
    increaseDate: function () {
      this.currentDate = moment(this.currentDate).add(1, 'days').format('YYYY-MM-DD')
    },
    decreaseDate: function () {
      this.currentDate = moment(this.currentDate).subtract(1, 'days').format('YYYY-MM-DD')
    },
    closeDialog: function () {
      this.dialog = false
      this.fetchData()
    },
    timeExtractHour (time) {
      return moment.utc(time, 'H:i').format('H')
    },
    timeExtractMinutes (time) {
      return moment.utc(time, 'H:i').format('i')
    },
    getMinutesPositionClass (time) {
      const minutes = this.timeExtractMinutes(time)
      let classIndex = 1
      if (minutes >= 45) {
        classIndex = 4
      } else if (minutes >= 30) {
        classIndex = 3
      } else if (minutes >= 15) {
        classIndex = 2
      }
      return classIndex
    },
    buildSchedule () {
      const day = moment(this.currentDate).day()
      if (this.$store.state.user.field_working_hours != null) {
        this.$store.state.user.field_working_hours.forEach((fieldWorkingHours) => {
          if (fieldWorkingHours.day === day) {
            const startDateParts = moment(fieldWorkingHours.starthours, 'Hmm').format('HH:mm').split(':')
            let workingHoursStart = 0
            if (startDateParts) {
              workingHoursStart = startDateParts[0]
            }

            const endDateParts = moment(fieldWorkingHours.endhours, 'Hmm').format('HH:mm').split(':')
            let workingHoursEnd = 0
            if (endDateParts) {
              workingHoursEnd = endDateParts[0]
              if (parseInt(endDateParts[1]) > 0) {
                workingHoursEnd = parseInt(endDateParts[0]) + 1
              }
            }

            console.log(workingHoursEnd)

            this.schedule = {}
            for (let i = parseInt(workingHoursStart); i <= workingHoursEnd; i++) {
              this.schedule[i] = (i > 9 ? i : '0' + i) + ':00'
            }
          }
        })
      }
    },
    async fetchData () {
      const rezervacije = await ReservationsService.fetchDayReservations(this.$store.state.user.id[0].value, {
        field_reservation_date_value: moment(this.currentDate).format('YYYY-MM-DD')
      })
      this.reservations = rezervacije.data
    }
  }
}
</script>

<style scoped>
#schedule {
  margin-left: 50px;
}
#schedule .schedule-row {
  position: relative;
  border: 1px solid #ccc;
  min-height: 95px;
  display: block;
}
#schedule .schedule-row .row-label {
  position: absolute;
  left: -50px;
  font-size: 16px;
  top: -10px;
}
#schedule .schedule-row .row-half-hour {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
}
#schedule .schedule-row:last-child {
  min-height: unset;
  height: 0;
  border: 0 none;
}
#schedule .schedule-row:last-child .row-half-hour {
  display: none;
}

#schedule .schedule-row .row-items {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#schedule .schedule-row .row-items .item {
  position: relative;
  padding: 2px 5px;
  background: #00a9ff;
  color: #fff;
  cursor: pointer;
  width: auto;
  display: inline-block;
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}
/* #schedule .schedule-row .row-items .item:nth-child(2) {
  left:20%;
}
#schedule .schedule-row .row-items .item:nth-child(3) {
  left:40%;
}
#schedule .schedule-row .row-items .item:nth-child(4) {
  left:60%;
}
#schedule .schedule-row .row-items .item:nth-child(5) {
  left:80%;
} */
.item.position-1 {
  top: 0;
}
.item.position-2 {
  top: 25%;
}
.item.position-3 {
  top: 50%;
}
.item.position-4 {
  top: 75%;
}
</style>
