<template>
  <v-layout row align-center justify-center>
    <v-flex xs12 sm6>
      <v-card>
        <v-toolbar
          color='cyan'
          dark
        >
          <v-toolbar-title>Login</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form
            ref='form'
            v-model='valid'
            lazy-validation
            @keyup.native.enter='login'
          >
            <v-text-field
              prepend-icon='person'
              name='email'
              label='Email'
              type='text'
              v-model='email'
              :rules="[v => !!v || 'Email is required']"
              required
            />
            <v-text-field
              prepend-icon='lock'
              name='password'
              label='Password'
              type='password'
              v-model='password'
              :rules="[v => !!v || 'Password is required']"
              required
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color='primary'
            @click='login'
          >
            Login
          </v-btn>
        </v-card-actions>
        <template v-if="error">
          <v-alert
              :value="true"
              type="error">
              {{error}}
          </v-alert>
        </template>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import BusinessService from '@/services/BusinessService'

export default {
  data () {
    return {
      valid: true,
      email: null,
      password: null,
      error: null
    }
  },
  methods: {
    async login () {
      if (this.$refs.form.validate()) {
        try {
          const response = await BusinessService.businessLogin({
            field_email_value: this.email,
            field_password_value: this.password
          })
          if (response.data.length > 0) {
            this.$store.dispatch('setUser', response.data[0])
            if (this.$store.state.user.field_settings_populated[0].value) {
              this.$router.push({
                name: 'calendar'
              })
            } else {
              this.$router.push({
                name: 'settings'
              })
            }
          } else {
            this.error = 'User or password invalid'
          }
        } catch (error) {
          this.error = error.message
        }
      }
    }
  },
  created () {
    if (this.$store.state.user != null) {
      this.$router.push({
        name: 'calendar'
      })
    }
  }
}
</script>

<style>

</style>
