<template>
  <div>
    <v-subheader class='mt-3 grey--text text--darken-1'>MENU</v-subheader>
    <v-list-tile
      v-for='item in items'
      :key='item.text'
      @click='navigateTo(item.route)'>
      <v-list-tile-content>
        <v-list-tile-title>
          <v-icon
            class='mr-2'>{{ item.icon }}</v-icon>
          {{ item.text }}
        </v-list-tile-title>
      </v-list-tile-content>
    </v-list-tile>
  </div>
</template>

<script>
export default {
  data () {
    return {
      items: [
        {
          icon: 'fa-dashboard',
          text: 'Dashboard',
          route: '/'
        },
        {
          icon: 'fa-calendar',
          text: 'Calendar',
          route: '/calendar'
        },
        {
          icon: 'fa-line-chart',
          text: 'Reports',
          route: '/reports'
        },
        {
          icon: 'fa-cog',
          text: 'Settings',
          route: '/settings'
        }
      ]
    }
  },
  methods: {
    navigateTo (routeName) {
      return this.$router.push(routeName)
    }
  }
}
</script>

<style>

</style>
