<template>
  <v-layout row align-center justify-center>
    <v-flex xs12 sm6>
      <v-card>
        <v-toolbar color='cyan' dark>
          <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field
              prepend-icon='person'
              name='email'
              label='Email'
              type='text'
              v-model='email'/>
            <v-text-field
              prepend-icon='lock'
              name='password'
              label='Password'
              type='password'
              v-model='password'/>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color='primary'
            @click='login'>Login</v-btn>
        </v-card-actions>
        <template v-if='error'>
          <v-alert
              :value='true'
              type='error'>
              {{error}}
          </v-alert>
        </template>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data () {
    return {
      email: null,
      password: null,
      error: null
    }
  },
  methods: {
    async login () {
      try {
        // const response = await AuthenticationService.login({
        //   email: this.email,
        //   password: this.password
        // })
        // this.$store.dispatch('setToken', response.data.token)
        // this.$store.dispatch('setUser', response.data.user)
        if (this.email === 'admin@admin.com' && this.password === 'admin') {
          this.$store.dispatch('setUser', {
            id: 1
          })
          this.$store.dispatch('setSettings', {
            workingHoursStart: '08:00',
            workingHoursEnd: '16:00',
            defaultReservationTimeHours: 1
          })
          this.$router.push({
            name: 'calendar'
          })
        } else {
          this.error = 'admin@admin.com -> admin'
        }
      } catch (error) {
        this.error = error
      }
    }
  },
  created () {
    if (this.$store.state.user != null) {
      this.$router.push({
        name: 'calendar'
      })
    }
  }
}
</script>

<style>

</style>
