<template>
  <v-layout fill-height row>
    <v-flex xs12 sm6>
      <v-card>
        <v-toolbar color='cyan' dark>
          <v-toolbar-title>Upcoming reservations</v-toolbar-title>
        </v-toolbar>

        <v-list two-line>
          <template v-for='(reservation) in reservations'>
            <v-list-tile
              :key='reservation.id'
            >
              <v-list-tile-avatar>
                {{formatDateForRender(reservation.pocetakRezervacije)}}
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title v-html='reservation.email'></v-list-tile-title>
                <v-list-tile-sub-title v-html='reservation.opis'></v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import ReservationsService from '@/services/ReservationsService'
import moment from 'moment'

export default {
  data () {
    return {
      reservations: []
    }
  },
  async mounted () {
    const reservations = await ReservationsService.fetchUpcomingReservations(1, {
      field_reservation_date_value: moment().format('YYYY-MM-DD')
    })
    this.reservations = reservations.data
  },
  beforeCreate () {
    if (this.$store.state.user == null) {
      this.$router.push({
        name: 'login'
      })
    }
  },
  methods: {
    formatDateForRender (date) {
      return moment.utc(date).format('HH:mm')
    }
  }
}
</script>

<style>

</style>
