<template>
    <v-dialog
        ref='dialog'
        v-model='dialog'
        :return-value.sync='value'
        persistent
        lazy
        full-width
        width='290px'
        >
        <v-text-field
            slot='activator'
            v-model='value'
            :label=label
            prepend-icon='access_time'
            readonly
        ></v-text-field>
        <v-time-picker
            :allowed-minutes='allowedMinutes'
            v-if='dialog'
            v-model='value'
            format='24hr'
        >
            <v-spacer></v-spacer>
            <v-btn flat color='primary' @click='dialog = false'>Cancel</v-btn>
            <v-btn flat color='primary' @click='$refs.dialog.save(value)'>OK</v-btn>
        </v-time-picker>
    </v-dialog>
</template>

<script>
export default {
  data () {
    return {
      dialog: false,
      value: null
    }
  },
  props: ['label'],
  methods: {
    allowedMinutes: v => v % 5 === 0
  }
}
</script>

<style>
</style>
