<template>
  <v-app
    id='app'
    dark>
    <v-navigation-drawer
      v-model='drawer'
      fixed
      clipped
      app
      v-if='this.$store.state.user != null'
    >
      <navigation/>
    </v-navigation-drawer>
    <v-toolbar
      color='red'
      dense
      fixed
      clipped-left
      app
    >
      <v-toolbar-side-icon
        @click.stop='drawer = !drawer'
        v-if='this.$store.state.user != null'
      >
      </v-toolbar-side-icon>
      <v-toolbar-title class='mr-5 align-center'>
        <span class='title'>Naruci.se</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn
        v-if='this.$store.state.isUserLoggedIn'
        @click='logout'
      >
        LOGOUT
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container grid-list-md fluid fill-height>
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Navigation from '@/components/Navigation'
export default {
  components: {
    Navigation
  },
  data () {
    return {
      drawer: true
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('setUser', null)
      this.$store.dispatch('setSettings', null)
      this.$router.push({
        name: 'login'
      })
    }
  },
  created () {
    if (this.$store.state.user == null) {
      this.$router.push({
        name: 'login'
      })
    }
  }
}
</script>

<style>
a:hover,
.title {
  color: inherit;
}
.container {
  padding: 10px 24px!important;
}
</style>
