<template>
  <v-layout row wrap>
    <v-flex xs12 sm6 class='px-0'>
      <v-card>
        <v-toolbar color='cyan' dark>

          <v-toolbar-title>Working hours</v-toolbar-title>

        </v-toolbar>

        <v-form
          ref='form_workinghours'
          v-model='valid_workinghours'
          lazy-validation
          class='pa-2'
        >
          <v-layout row>
            <v-flex xs6>
              <v-dialog
                ref='monStartDialog'
                v-model='monStartDialog'
                :return-value.sync='monStart'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='monStart'
                  label='Monday start hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='monStartDialog'
                  v-model='monStart'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='monStartDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.monStartDialog.save(monStart)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs6>
              <v-dialog
                ref='monEndDialog'
                v-model='monEndDialog'
                :return-value.sync='monEnd'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='monEnd'
                  label='Monday end hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='monEndDialog'
                  v-model='monEnd'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='monEndDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.monEndDialog.save(monEnd)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs6>
              <v-dialog
                ref='tueStartDialog'
                v-model='tueStartDialog'
                :return-value.sync='tueStart'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='tueStart'
                  label='Tuesday start hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='tueStartDialog'
                  v-model='tueStart'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='tueStartDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.tueStartDialog.save(tueStart)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs6>
              <v-dialog
                ref='tueEndDialog'
                v-model='tueEndDialog'
                :return-value.sync='tueEnd'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='tueEnd'
                  label='Tuesday end hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='tueEndDialog'
                  v-model='tueEnd'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='tueEndDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.tueEndDialog.save(tueEnd)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs6>
              <v-dialog
                ref='wedStartDialog'
                v-model='wedStartDialog'
                :return-value.sync='wedStart'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='wedStart'
                  label='Wednesday start hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='wedStartDialog'
                  v-model='wedStart'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='wedStartDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.wedStartDialog.save(wedStart)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs6>
              <v-dialog
                ref='wedEndDialog'
                v-model='wedEndDialog'
                :return-value.sync='wedEnd'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='wedEnd'
                  label='Wednesday end hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='wedEndDialog'
                  v-model='wedEnd'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='wedEndDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.wedEndDialog.save(wedEnd)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs6>
              <v-dialog
                ref='thuStartDialog'
                v-model='thuStartDialog'
                :return-value.sync='thuStart'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='thuStart'
                  label='Thursday start hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='thuStartDialog'
                  v-model='thuStart'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='thuStartDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.thuStartDialog.save(thuStart)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs6>
              <v-dialog
                ref='thuEndDialog'
                v-model='thuEndDialog'
                :return-value.sync='thuEnd'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='thuEnd'
                  label='Thursday end hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='thuEndDialog'
                  v-model='thuEnd'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='thuEndDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.thuEndDialog.save(thuEnd)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs6>
              <v-dialog
                ref='friStartDialog'
                v-model='friStartDialog'
                :return-value.sync='friStart'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='friStart'
                  label='Friday start hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='friStartDialog'
                  v-model='friStart'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='friStartDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.friStartDialog.save(friStart)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs6>
              <v-dialog
                ref='friEndDialog'
                v-model='friEndDialog'
                :return-value.sync='friEnd'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='friEnd'
                  label='Friday end hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='friEndDialog'
                  v-model='friEnd'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='friEndDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.friEndDialog.save(friEnd)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs6>
              <v-dialog
                ref='satStartDialog'
                v-model='satStartDialog'
                :return-value.sync='satStart'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='satStart'
                  label='Saturday start hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='satStartDialog'
                  v-model='satStart'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='satStartDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.satStartDialog.save(satStart)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs6>
              <v-dialog
                ref='satEndDialog'
                v-model='satEndDialog'
                :return-value.sync='satEnd'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='satEnd'
                  label='Saturday end hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='satEndDialog'
                  v-model='satEnd'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='satEndDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.satEndDialog.save(satEnd)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs6>
              <v-dialog
                ref='sunStartDialog'
                v-model='sunStartDialog'
                :return-value.sync='sunStart'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='sunStart'
                  label='Sunday start hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='sunStartDialog'
                  v-model='sunStart'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='sunStartDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.sunStartDialog.save(sunStart)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
            <v-flex xs6>
              <v-dialog
                ref='sunEndDialog'
                v-model='sunEndDialog'
                :return-value.sync='sunEnd'
                persistent
                lazy
                full-width
                width='290px'
              >
                <v-text-field
                  slot='activator'
                  v-model='sunEnd'
                  label='Sunday end hours'
                  prepend-icon='access_time'
                  readonly
                ></v-text-field>
                <v-time-picker
                  :allowed-minutes="allowedMinutes"
                  v-if='sunEndDialog'
                  v-model='sunEnd'
                  format='24hr'
                >
                  <v-spacer></v-spacer>
                  <v-btn flat color='primary' @click='sunEndDialog = false'>Cancel</v-btn>
                  <v-btn flat color='primary' @click='$refs.sunEndDialog.save(sunEnd)'>OK</v-btn>
                </v-time-picker>
              </v-dialog>
            </v-flex>
          </v-layout>

          <v-btn
            color='primary'
            @click='saveWorkinghours'
          >
            submit
          </v-btn>
          <v-btn
          >
            clear
          </v-btn>
          <template v-if="workinghours_message">
            <v-alert
              :value="true"
            >
              {{workinghours_message}}
            </v-alert>
          </template>
        </v-form>

      </v-card>
    </v-flex>
    <v-flex xs12 sm6>
      <v-card>
        <v-toolbar color='cyan' dark>

          <v-toolbar-title>Business Settings</v-toolbar-title>

        </v-toolbar>

        <v-form
          ref='form_worktype'
          v-model='valid_worktype'
          lazy-validation
          class='pa-2'
        >
          <v-select
            :items='workTypes'
            item-text='name[0].value'
            item-value='id[0].value'
            label='Work type'
            v-model='workType'
            return-object
            :rules="[v => !!v || 'Work type is required']"
            required
          ></v-select>

          <v-text-field
            label='Default reservation duration (in minutes)'
            type='number'
            v-model='reservation_duration'
            required
            :rules="[v => !!v || 'Reservation duration is required']"
          ></v-text-field>

          <v-btn
            color='primary'
            @click='saveWorktype'
          >
            submit
          </v-btn>
          <template v-if="worktype_message">
            <v-alert
              :value="true"
            >
              {{worktype_message}}
            </v-alert>
          </template>
        </v-form>

      </v-card>
    </v-flex>
    <v-flex xs12 sm6>
      <v-card>
        <v-toolbar color='cyan' dark>

          <v-toolbar-title>Non working days</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-dialog
            v-model='nonWorkingDayDialog'
            persistent
            max-width='500px'
          >
            <v-btn
              slot='activator'
              fab
              color='blue'
              small
              middle
            >
              <v-icon>add</v-icon>
            </v-btn>
            <nonworkingday-form @dialog='nonWorkingDayDialog = false'/>
          </v-dialog>
        </v-toolbar>

        <v-list>
          <template v-for="(day, index) in nonWorkingDays">
            <v-list-tile
              :key="day.date"
            >
              <v-list-tile-content>
                <v-list-tile-title v-html="day.title"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider :key="index"></v-divider>
          </template>
        </v-list>

      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import BusinessService from '@/services/BusinessService'
import NonworkingdayForm from '@/components/Settings/NonworkingdayForm'
import moment from 'moment'

export default {
  components: {
    NonworkingdayForm
  },
  data () {
    return {
      valid_workinghours: true,
      valid_worktype: true,
      workinghours_message: null,
      workTypes: [],
      workType: null,
      worktype_message: null,
      reservation_duration: null,
      monStart: null,
      monStartDialog: null,
      monEnd: null,
      monEndDialog: null,
      tueStart: null,
      tueStartDialog: null,
      tueEnd: null,
      tueEndDialog: null,
      wedStart: null,
      wedStartDialog: null,
      wedEnd: null,
      wedEndDialog: null,
      thuStart: null,
      thuStartDialog: null,
      thuEnd: null,
      thuEndDialog: null,
      friStart: null,
      friStartDialog: null,
      friEnd: null,
      friEndDialog: null,
      satStart: null,
      satStartDialog: null,
      satEnd: null,
      satEndDialog: null,
      sunStart: null,
      sunStartDialog: null,
      sunEnd: null,
      sunEndDialog: null,
      nonWorkingDayDialog: false,
      nonWorkingDays: [
        {
          date: 1,
          title: 'Brunch this weekend?'
        }
      ]
    }
  },
  methods: {
    allowedMinutes: v => v % 5 === 0,
    closeDialog: function () {
      this.userDialog = false
    },
    async saveWorktype () {
      if (this.$refs.form_worktype.validate()) {
        let workTypeValue = null
        if (this.workType.length) {
          workTypeValue = this.workType.id[0].value
        } else {
          workTypeValue = this.workType
        }
        try {
          const response = await BusinessService.businessUpdate(this.$store.state.user.id[0].value, {
            '_links': {
              'type': {
                'href': 'http://narucise.apagacdev.tk/rest/type/narucise_entity/business'
              }
            },
            'type': [
              {
                'value': 'business'
              }
            ],
            'field_business_type': [
              {
                'target_id': workTypeValue
              }
            ],
            'field_reservation_duration': [
              {
                'value': this.reservation_duration
              }
            ]
          })
          if (response.status === 200) {
            const user = await BusinessService.businessRefreshUser({
              'id': this.$store.state.user.id[0].value
            })
            if (user.status === 200) {
              this.$store.dispatch('setUser', user.data[0])
            }
            this.worktype_message = 'Saved'
          } else {
            this.worktype_message = 'Error'
          }
        } catch (error) {
          this.worktype_message = error.message
        }
      }
    },
    async saveWorkinghours () {
      if (this.$refs.form_workinghours.validate()) {
        try {
          let preparedDays = []
          if (this.sunStart != null && this.sunEnd != null) {
            preparedDays.push({
              'day': 0,
              'starthours': moment(this.sunStart, 'HH:mm').format('Hmm'),
              'endhours': moment(this.sunEnd, 'HH:mm').format('Hmm'),
              'comment': ''
            })
          }
          if (this.monStart != null && this.monEnd != null) {
            preparedDays.push({
              'day': 1,
              'starthours': moment(this.monStart, 'HH:mm').format('Hmm'),
              'endhours': moment(this.monEnd, 'HH:mm').format('Hmm'),
              'comment': ''
            })
          }
          if (this.tueStart != null && this.tueEnd != null) {
            preparedDays.push({
              'day': 2,
              'starthours': moment(this.tueStart, 'HH:mm').format('Hmm'),
              'endhours': moment(this.tueEnd, 'HH:mm').format('Hmm'),
              'comment': ''
            })
          }
          if (this.wedStart != null && this.wedEnd != null) {
            preparedDays.push({
              'day': 3,
              'starthours': moment(this.wedStart, 'HH:mm').format('Hmm'),
              'endhours': moment(this.wedEnd, 'HH:mm').format('Hmm'),
              'comment': ''
            })
          }
          if (this.thuStart != null && this.thuEnd != null) {
            preparedDays.push({
              'day': 4,
              'starthours': moment(this.thuStart, 'HH:mm').format('Hmm'),
              'endhours': moment(this.thuEnd, 'HH:mm').format('Hmm'),
              'comment': ''
            })
          }
          if (this.friStart != null && this.friEnd != null) {
            preparedDays.push({
              'day': 5,
              'starthours': moment(this.friStart, 'HH:mm').format('Hmm'),
              'endhours': moment(this.friEnd, 'HH:mm').format('Hmm'),
              'comment': ''
            })
          }
          if (this.satStart != null && this.satEnd != null) {
            preparedDays.push({
              'day': 6,
              'starthours': moment(this.satStart, 'HH:mm').format('Hmm'),
              'endhours': moment(this.satEnd, 'HH:mm').format('Hmm'),
              'comment': ''
            })
          }
          const response = await BusinessService.businessUpdate(this.$store.state.user.id[0].value, {
            '_links': {
              'type': {
                'href': 'http://narucise.apagacdev.tk/rest/type/narucise_entity/business'
              }
            },
            'type': [
              {
                'value': 'business'
              }
            ],
            'field_working_hours': preparedDays
          })
          if (response.status === 200) {
            const user = await BusinessService.businessRefreshUser({
              'id': this.$store.state.user.id[0].value
            })
            if (user.status === 200) {
              this.$store.dispatch('setUser', user.data[0])
            }
            this.workinghours_message = 'Saved'
          } else {
            this.workinghours_message = 'Error'
          }
        } catch (error) {
          this.error = error
        }
      }
    }
  },
  created () {
    if (this.$store.state.user == null) {
      this.$router.push({
        name: 'login'
      })
    } else {
      if (this.$store.state.user.field_business_type[0] != null) {
        this.workType = this.$store.state.user.field_business_type[0].target_id
      }
      if (this.$store.state.user.field_reservation_duration[0] != null) {
        this.reservation_duration = this.$store.state.user.field_reservation_duration[0].value
      }
      if (this.$store.state.user.field_working_hours != null) {
        this.$store.state.user.field_working_hours.forEach((fieldWorkingHours) => {
          switch (fieldWorkingHours.day) {
            case 0:
              this.sunStart = moment(fieldWorkingHours.starthours, 'Hmm').format('HH:mm')
              this.sunEnd = moment(fieldWorkingHours.endhours, 'Hmm').format('HH:mm')
              break
            case 1:
              this.monStart = moment(fieldWorkingHours.starthours, 'Hmm').format('HH:mm')
              this.monEnd = moment(fieldWorkingHours.endhours, 'Hmm').format('HH:mm')
              break
            case 2:
              this.tueStart = moment(fieldWorkingHours.starthours, 'Hmm').format('HH:mm')
              this.tueEnd = moment(fieldWorkingHours.endhours, 'Hmm').format('HH:mm')
              break
            case 3:
              this.wedStart = moment(fieldWorkingHours.starthours, 'Hmm').format('HH:mm')
              this.wedEnd = moment(fieldWorkingHours.endhours, 'Hmm').format('HH:mm')
              break
            case 4:
              this.thuStart = moment(fieldWorkingHours.starthours, 'Hmm').format('HH:mm')
              this.thuEnd = moment(fieldWorkingHours.endhours, 'Hmm').format('HH:mm')
              break
            case 5:
              this.friStart = moment(fieldWorkingHours.starthours, 'Hmm').format('HH:mm')
              this.friEnd = moment(fieldWorkingHours.endhours, 'Hmm').format('HH:mm')
              break
            case 6:
              this.satStart = moment(fieldWorkingHours.starthours, 'Hmm').format('HH:mm')
              this.satEnd = moment(fieldWorkingHours.endhours, 'Hmm').format('HH:mm')
              break
          }
        })
      }
    }
  },
  async mounted () {
    const workTypes = (await BusinessService.businessTypes())
    if (workTypes.data.length > 0) {
      this.workTypes = workTypes.data
    }
  }
}
</script>

<style>

</style>
