<template>
  <v-card>
    <v-card-title>
      <span class='headline'>New non-working day</span>
    </v-card-title>
    <v-card-text>
      <v-layout row>
        <v-flex xs12>
          <v-dialog
            ref='dateDialog'
            v-model='dateDialog'
            :return-value.sync='currentDate'
            persistent
            lazy
            full-width
            width='290px'
          >
            <v-text-field
              slot='activator'
              v-model='currentDate'
              label='Date'
              prepend-icon='access_time'
              readonly
            ></v-text-field>
            <v-date-picker
              v-if='dateDialog'
              v-model='currentDate'
              required
              :allowed-minutes='allowedStep'
              format='24hr'
            >
              <v-spacer></v-spacer>
              <v-btn flat color='primary' @click='dateDialog = false'>Cancel</v-btn>
              <v-btn flat color='primary' @click='$refs.dateDialog.save(currentDate)'>OK</v-btn>
            </v-date-picker>
          </v-dialog>
        </v-flex>
      </v-layout>

      <v-textarea
        label='Description'
        v-model="description"
      />

    </v-card-text>
    <v-card-text>
      <small>*indicates required field</small>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color='blue darken-1' flat @click='closeDialog()'>Close</v-btn>
      <v-btn color='blue darken-1' flat @click='saveNonworkingday()'>Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      currentDate: null,
      dateDialog: false,
      description: ''
    }
  },
  methods: {
    saveNonworkingday () {
      // save day
      console.log('saveNonworkingday')
      this.closeDialog()
    },
    closeDialog () {
      this.$emit('dialog', 'VRIJEDNOST IZ FORME')
    },
    allowedStep: (m) => m % 10 === 0
  }
}
</script>

<style>

</style>
